.modalForm{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6 );
  z-index: 1000;
  .modalForm1{
    width: 100%;
    height: 100vh;
    .modalContent{
      width: 63%;
      position: fixed;
      top: 0;
      left: 50%;
      z-index: 1000;
      transition: all 0.25s;
      transform: translate(-50%, -50%);
      opacity: 0;
      .shippingAddress{
        opacity: 0;
        .imgX{
          position: relative;
          top: 19px;
          left: 95.3%;
          width: 15px;
          height: 15px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .container{
          .shippingForm{
            padding: 23px 20px;
            background-color: #fff;
            border-radius: 4px;
            border-color: transparent;
            .row:first-child{
              margin-bottom: 23px;
              .col-md-12{
                h5{
                  margin-top: 20px;
                  font-size: 14px;
                  color: #000;
                  font-weight: 700;
                  margin-bottom: 12px;
                }
              }
              .col-md-6:last-child{
                .input-group{
                  width: 100%;
                  input:first-child{
                    width: 17%;
                  }
                  input:nth-child(2){
                    width: 83%;
                  }
                }
                .inputPhoneValid{
                  input:nth-child(2){
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
              }
              .col-md-6{
                .validationInput{
                  input{
                    border-color: #ff4747;
                  }
                  input:focus{
                    box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                  }
                }
              }
            }
            .row:nth-child(2){
              margin-bottom: 30px;
              .selectForm{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .district{
                  width: 30%;
                }
                .region{
                  width: 30%;
                }
                .pochtaIndeksi{
                  width: 30%;
                }
                .regionValid, .districtValid{
                  select{
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
                .indexValid{
                  input{
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
              }
            }
            .row:nth-child(3){
              margin-bottom: 30px;
              .col-md-12{
                h5{
                  font-size: 14px;
                  color: #000;
                  font-weight: 700;
                  margin-bottom: 12px;
                }
              }
              .col-md-6{
                .streetValid{
                  input{
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
                .homeInputValid{
                  input{
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
              }
            }
            .row{
              .col-md-12{
                button{
                  padding: 5.6px 50px;
                  margin-right: 7px;
                  border: none;
                  font-size: 15px;
                  border-radius: 3px;
                  background-color: #ff4747;
                  color: #fff;
                }
                button:nth-child(2){
                  background-color: #f2f2f2;
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
  }
}
.modalFormBlock{
  position: absolute;
  visibility: visible;
  .modalForm1{
    width: 100%;
    height: 100vh;
    .modalContent{
      width: 63%;
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 1000;
      transition: all 0.25s;
      transform: translate(-50%, -50%);
      opacity: 1;
      @media screen and (max-width: 576px) {
        width: 90%;
      }
      .shippingAddress{
        opacity: 1;
        .imgX{
          position: relative;
          top: 19px;
          left: 90%;
          width: 15px;
          height: 15px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .container{
          .shippingForm{
            padding: 23px 20px;
            background-color: #fff;
            border-radius: 4px;
            border-color: transparent;
            .row:first-child{
              margin-bottom: 15px;
              .col-md-12{
                h5{
                  margin-top: 10px;
                  font-size: 14px;
                  color: #000;
                  font-weight: 700;
                  margin-bottom: 4px;
                }
              }
              .col-md-6{
                input{
                  height: 30px;
                  font-size: 14px!important;
                }
              }
              .col-md-6:nth-child(2){
               .nameInput{
                 input{
                   margin-bottom: 10px !important;
                 }
               }
              }
              .col-md-6:last-child{
                .input-group{
                  width: 100%;
                  input:first-child{
                    width: 25%;
                  }
                  input:nth-child(2){
                    width: 75%;
                  }
                }
                .inputPhoneValid{
                  input:nth-child(2){
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
              }
              .col-md-6{
                .validationInput{
                  input{
                    border-color: #ff4747;
                  }
                  input:focus{
                    box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                  }
                }
              }
            }
            .row:nth-child(2){
              margin-bottom: 10px;
              .text{
                display: block !important;
                margin-bottom: 4px;
                font-size: 14px;
                color: #000;
                font-weight: 700;
                margin-left: 15px;
              }
              .selectForm{
                width: 100%;
                display: block;
                padding: 0 15px;
                input, select{
                  height: 30px;
                  font-size: 14px;
                  margin-bottom: 10px;
                }
                input::placeholder{
                  font-size: 14px !important;
                }
                .district{
                  width: 100%;
                }
                .region{
                  width: 100%;
                }
                .pochtaIndeksi{
                  width: 100%;
                }
                .regionValid, .districtValid{
                  select{
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
                .indexValid{
                  input{
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
              }
            }
            .row:nth-child(3){
              margin-bottom: 15px;
              .col-md-12{
                h5{
                  font-size: 14px;
                  color: #000;
                  font-weight: 700;
                  margin-bottom: 4px;
                }
              }
              .col-md-6{
                input{
                  height: 30px !important;
                }
              }
              .col-md-6:nth-child(2){
                margin-bottom: 10px;
              }
              .col-md-6{
                .streetValid{
                  input{
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
                .homeInputValid{
                  input{
                    border-color: #ff4747;
                    &:focus{
                      box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0 , 0.25);
                    }
                  }
                }
              }
            }
            .row{
              .col-md-12{
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                  padding: 2.3px 30px;
                  margin-right: 7px;
                  border: none;
                  font-size: 14px;
                  border-radius: 3px;
                  background-color: #ff4747;
                  color: #fff;
                }
                button:nth-child(2){
                  margin-right: 0;
                  background-color: #f2f2f2;
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {

}