.modalAddressList{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  .modalContent{
    height: 85vh;
    overflow-y: scroll;
    width: 63%;
    position: fixed;
    top: 0;
    left:50%;
    z-index: 1000;
    transition: all 0.25s;
    background-color: #fff;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 4px;
    @media screen and (max-width: 576px){
      width: 90%;
    }
    &::-webkit-scrollbar{
      width: 1px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
    .addressListCard{
      padding: 10px 15px;
      opacity: 0;
      .cancelImg{
        position: relative;
        top: -10px;
        left: 99.8%;
        width: 15px;
        height: 15px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      h3{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .addressList{
        .addressListItem{
          padding: 8px 15px;
          margin-bottom: 20px;
          border: 0.7px solid #d7d7d7;
          border-radius: 4px;
          outline: 0;
          .row{
            display: block !important;
            .col-8{
              min-width: 100%;
              margin-bottom: 9px;
              font-size: 12.5px !important;
              .name{
                font-weight: 700;
                margin-bottom: 0;
                text-align: center;
              }
              .village, .region{
                text-align: center;
              }
            }
            .col-4{
              display: flex;
              align-items: center;
              justify-content: center;
              min-width: 100%;
              padding-left: 0;
              button{
                white-space: nowrap;
                border-style: solid;
                background-color: #ff4747;
                border-color: transparent;
                border-radius: 4px;
                padding: 0 17px;
                line-height: 27px;
                font-size: 12px;
                border-width: 1px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.modalAddressListBlock{
  visibility: visible;
  .modalContent{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    .addressListCard{
      opacity: 1;
    }
  }
}