.container{
  .col-2{
    padding: 5px 10px 0 10px!important;

    .card{
      border-radius: 10px;
      .card-body{
        border-radius: 10px;
        transition-duration: 400ms;

        &:hover{
          box-shadow: 0 0 10px darkgrey;
        }
        p, h6, h5{
          color: black!important;
          font-size: 14px!important;
          font-weight: 500!important;
          b{
            color: black!important;
            font-weight: 800!important;
          }
        }
        h6{
          margin: 20px 0!important;
          font-size: 16px!important;
        }
        h5{
          color: darkgrey!important;
        }
      }
    }
  }
  p {
    color: black;
    font-size: 15px;
    margin-bottom: 0;

  }
  h6 {
    font-weight: 800;
    color: black;
  }
  h5{
    color: darkgray;
    font-size: 12px;
  }
}